@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --m0: #f5d67b;
    --m1: #72e0d1;
    --m2: #ff7a18;
}

body {

    
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}


small {
    display: block;
    color: var(--m2);
}

code {
    display: block;
    background-color: #1b1b1b;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

/* misc */
.type-selector {
    color: var(--m0);

}

.prop-selector {
    color: var(--m1);
}

/* header */

.heading{
    text-align: center;
}

header h1 {
    padding: 1rem 0;
}

.img-div {
    width: 50%;
    height: 45%;
    margin: auto;
}

.img-div img {
    max-width: 100%;
    max-height: 100%;
}

/* main list */
.list {
    margin-left: 3rem;
    list-style: none;
    font-weight: bold;
}

.list li::before {
    content: '\2022';
    color: var(--m2);
    font-weight: bolder;
    display: inline-block;
    width: 1rem;
}

/* sub topics */
.sub-topic {
    margin: auto;
    max-width: 900px;
    text-align: justify;
    text-justify:inter-word;
    
}

.sub-topic h2 {
    
    margin: 10px auto;
}

.sub-topic-heading{
    text-align: center;
}

.sub-topic p {
    padding: 0.5rem 0;
}


